body {
  background-color: black;
  margin: 30px;
  font-weight: bold;
}

.App {
  text-align: center;
  
}

.App-halloween {
  width: 400px;
  height: 565px;
}

@font-face {
  font-family: 'October Crow';
  src: url('October Crow.ttf');
}


.formulario {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: October Crow;
  font-size: 150%;
  color: indianred;
}

.titulo {
  position: absolute;
  top: 105%;
  left: 44%;
  color: white;
  font-family: October Crow;
  font-size: 130%;
}

.texto1 {
  position: absolute;
  top: 120%;
  left: 36%;
  color: #FFFFFF;
  font-family: October Crow;
  font-size: 100%;
}

.texto2 {
  position: absolute;
  top: 130%;
  left: 38%;
  color: #FFFFFF;
  font-family: October Crow;
  font-size: 100%;
}

.lugar {
  position: absolute;
  top: 145%;
  left: 36%;
  color: #FFFFFF;
  font-family: October Crow;
  font-size: 100%;
}

.direccion {
  position: absolute;
  top: 150%;
  left: 36%;
  color: #FFFFFF;
  font-family: October Crow;
  font-size: 100%;
}

.fecha {
  position: absolute;
  top: 155%;
  left: 36%;
  color: #FFFFFF;
  font-family: October Crow;
  font-size: 100%;
}

.hora {
  position: absolute;
  top: 160%;
  left: 36%;
  color: #FFFFFF;
  font-family: October Crow;
  font-size: 100%;
}

.texto3 {
  position: absolute;
  top: 285%;
  left: 40%;
  color: #FFFFFF;
  font-family: October Crow;
  font-size: 150%;
}

.de {
  position: absolute;
  top: 190%;
  left: 37%;
  color: #FFFFFF;
  font-family: October Crow;
  font-size: 100%;
}

.para {
  position: absolute;
  top: 190%;
  left: 53%;
  color: #FFFFFF;
  font-family: October Crow;
  font-size: 100%;
}

.telefono {
  position: absolute;
  top: 175%;
  left: 36%;
  color: #FFFFFF;
  font-family: October Crow;
  font-size: 100%;
}

.posdata {
  position: absolute;
  top: 182%;
  left: 36%;
  color: #FFFFFF;
  font-family: October Crow;
  font-size: 100%;
}

.comida {
  position: absolute;
  top: 165%;
  left: 36%;
  color: #FFFFFF;
  font-family: October Crow;
  font-size: 100%;
}

.bebida {
  position: absolute;
  top: 170%;
  left: 36%;
  color: #FFFFFF;
  font-family: October Crow;
  font-size: 100%;
}

.buttons {
  top: 100%;
  left: 70%;
 
}

button {
  background-color: red;
  font-family: October Crow;
  font-size: 30px;
  height: 70px;
}

input {
  font-family: October Crow;
  font-size: 80%;
  background-color: lightyellow;
  color: indianred;
  font-weight: bold;
}